name: Tests

on:
  push:
    branches:
    - master
    - '[12][0-9].[12]'
  pull_request:
    branches:
      - '**'

jobs:
  test:
    runs-on: ubuntu-latest
    timeout-minutes: 60

    steps:
    - name: Get sources
      uses: actions/checkout@v2

    - name: Clone devextreme repo from PR author fork
      continue-on-error: true
      if: github.event_name == 'pull_request'
      run: git clone -b ${{github.event.pull_request.head.ref}} https://github.com/${{github.event.pull_request.user.login}}/devextreme ../devextreme

    - name: Clone devextreme repo
      run: test -d ../devextreme || git clone -b 23_1 https://github.com/devexpress/devextreme ../devextreme

    - name: Use Node.js 15
      uses: actions/setup-node@v2
      with:
        node-version: '15'

    - name: Install packages in devextreme repo
      run: |
        cd ../devextreme
        npm install --no-audit --no-fund

    - name: Build devextreme repo
      run: |
        cd ../devextreme
        npm run build-npm-devextreme

    - name: Use Node.js 14
      uses: actions/setup-node@v2
      with:
        node-version: '14'

    - name: Install devextreme package
      run: |
        cd ./packages/devextreme-angular
        npm install --save-dev ../../../devextreme/artifacts/npm/devextreme
        cd ../sandbox
        npm install --save-dev ../../../devextreme/artifacts/npm/devextreme
        cd ../../
        npm install --save-dev ../devextreme/artifacts/npm/devextreme

    - name: Run npm install
      run: npm install --no-audit --no-fund

    - name: Update metadata
      run: |
        npm run update-integration-meta

    - name: Run devextreme-angular-generator tests
      run: npx lerna run --scope devextreme-angular-generator test

    - name: Run lint
      run: npm run lint

    - name: Build with Angular 7
      run: npm run build

    - name: Run tests with Angular 7
      run: npx lerna run --scope devextreme-angular gulp -- run.tests

    - name: Install Angular latest
      run: |
        npx lerna clean --yes
        npx lerna add @angular/animations@12 packages/devextreme-angular --dev --exact --no-bootstrap
        npx lerna add @angular/core@12 packages/devextreme-angular --dev --exact --no-bootstrap
        npx lerna add @angular/common@12 packages/devextreme-angular --dev --exact --no-bootstrap
        npx lerna add @angular/compiler@12 packages/devextreme-angular --dev --exact --no-bootstrap
        npx lerna add @angular/forms@12 packages/devextreme-angular --dev --exact --no-bootstrap
        npx lerna add @angular/platform-browser@12 packages/devextreme-angular --dev --exact --no-bootstrap
        npx lerna add @angular/platform-server@12 packages/devextreme-angular --dev --exact --no-bootstrap
        npx lerna add @angular/platform-browser-dynamic@12 packages/devextreme-angular --dev --exact --no-bootstrap
        npx lerna add @angular/compiler-cli@12 packages/devextreme-angular --dev --exact --no-bootstrap
        npx lerna bootstrap --no-ci

    - name: Build tests with Angular latest
      run: npx lerna run --scope devextreme-angular gulp -- build.tests

    - name: Run tests with Angular latest
      run: npx lerna run --scope devextreme-angular gulp -- run.tests

    - name: Install Angular Next
      if: false
      run: |
        npx lerna clean --yes
        npx lerna add @angular/animations@next packages/devextreme-angular --dev --exact --no-bootstrap
        npx lerna add @angular/core@next packages/devextreme-angular --dev --exact --no-bootstrap
        npx lerna add @angular/common@next packages/devextreme-angular --dev --exact --no-bootstrap
        npx lerna add @angular/compiler@next packages/devextreme-angular --dev --exact --no-bootstrap
        npx lerna add @angular/forms@next packages/devextreme-angular --dev --exact --no-bootstrap
        npx lerna add @angular/platform-browser@next packages/devextreme-angular --dev --exact --no-bootstrap
        npx lerna add @angular/platform-server@next packages/devextreme-angular --dev --exact --no-bootstrap
        npx lerna add @angular/platform-browser-dynamic@next packages/devextreme-angular --dev --exact --no-bootstrap
        npx lerna add @angular/compiler-cli@next packages/devextreme-angular --dev --exact --no-bootstrap
        npx lerna bootstrap --no-ci

    - name: Build tests with Angular next
      if: false
      run: npx lerna run --scope devextreme-angular gulp -- build.tests

    - name: Run tests with Angular Next
      if: false
      run: npx lerna run --scope devextreme-angular gulp -- run.tests

    - name: Archive internal-tools artifacts
      uses: actions/upload-artifact@v3
      with:
        name: internal-tools-artifacts
        path: artifacts/internal-tools/
        retention-days: 7
